Repository videojs/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

chore: add top-level changelog.md placeholder
  CHANGELOG.md
Due: none

chore: upd jest.config.js
  jest.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: update package*.json
  package-lock.json
  package.json
Due: prettier --write

chore: add jest eslit configs
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, eslint, prettier --write

chore: remove legacy eslitrc.json
  .eslintrc.json
Due: prettier --write

chore: add comment about globster.xyz
  eslint.config.js
Due: eslint --fix, eslint, prettier --write

chore: update nx configuration
  nx.json
Due: prettier --write

chore: fix lint issues in hls-parser
  packages/dash-parser/package.json
  packages/hls-parser/jest.config.js
  packages/hls-parser/package.json
  packages/hls-parser/src/lib/parse.ts
  packages/hls-parser/src/lib/stateMachine.ts
  packages/hls-parser/src/lib/tags/base.ts
  packages/hls-parser/src/lib/tags/emptyTagProcessors.ts
  packages/hls-parser/src/lib/tags/tagWithAttributesProcessors.ts
  packages/hls-parser/src/lib/tags/tagWithValueProcessors.ts
  packages/hls-parser/src/lib/types/parsedPlaylist.d.ts
  packages/hls-parser/src/lib/utils/parse.ts
  packages/hls-parser/tsconfig.json
  packages/playback/package.json
  packages/videojs.dev/package.json
  packages/videojs.dev/src/demo.ts
Due: eslint --fix, eslint, prettier --write

chore: add rollup base config
  eslint.config.js
  package-lock.json
  package.json
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: update hls package json
  packages/hls-parser/package.json
Due: prettier --write

chore: update rollup config, add bundlesize generation and verification
  eslint.config.js
  package-lock.json
  package.json
  packages/hls-parser/bundlesize.json
  packages/hls-parser/package.json
  packages/hls-parser/rollup.config.js
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: add typedoc support
  package-lock.json
  package.json
  packages/hls-parser/package.json
  packages/hls-parser/rollup.config.js
  packages/hls-parser/src/index.ts
  packages/hls-parser/src/lib/types/parsedPlaylist.ts
  packages/hls-parser/src/lib/types/parserOptions.ts
  packages/hls-parser/src/lib/types/sharedState.ts
  packages/hls-parser/typedoc.json
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: add verify bundle size to ci
  .github/workflows/continuous.yml
  package.json
  packages/hls-parser/package.json
Due: prettier --write

chore: add release updates
  .gitignore
  package-lock.json
  package.json
  packages/hls-parser/CHANGELOG.md
  packages/hls-parser/package.json
  packages/hls-parser/rollup.config.js
  packages/hls-parser/typedoc.json
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: add nx release list of projects
  nx.json
Due: prettier --write

chore: add release workflow
  .github/workflows/continuous.yml
  .github/workflows/release.yml
  .gitignore
  cli/generate-release-info-latest.js
  eslint.config.js
  package.json
  packages/hls-parser/package.json
Due: eslint --fix, eslint, prettier --write

chore: update dash-parser scripts
  packages/dash-parser/CHANGELOG.md
  packages/dash-parser/bundlesize.json
  packages/dash-parser/jest.config.js
  packages/dash-parser/package.json
  packages/dash-parser/rollup.config.js
  packages/dash-parser/src/index.ts
  packages/dash-parser/src/lib/parse.ts
  packages/dash-parser/src/lib/pendingProcessors.ts
  packages/dash-parser/src/lib/tags/base.ts
  packages/dash-parser/src/lib/types/parsedManifest.ts
  packages/dash-parser/src/lib/types/parserOptions.ts
  packages/dash-parser/src/lib/types/sharedState.ts
  packages/dash-parser/tsconfig.json
  packages/dash-parser/typedoc.json
  packages/hls-parser/package.json
Due: eslint --fix, eslint, prettier --write

chore: update playback scripts
  eslint.config.js
  packages/playback/.dts-bundle-generator.config.json
  packages/playback/CHANGELOG.md
  packages/playback/bundlesize.json
  packages/playback/jest.config.js
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/src/index.ts
  packages/playback/src/lib/network/networkManager.ts
  packages/playback/src/lib/pipelines/basePipeline.ts
  packages/playback/src/lib/pipelines/events/pipelineEventTypeToEventMap.ts
  packages/playback/src/lib/pipelines/mse/dash/dashPipeline.ts
  packages/playback/src/lib/pipelines/mse/hls/hlsPipeline.ts
  packages/playback/src/lib/pipelines/mse/mseManager.ts
  packages/playback/src/lib/pipelines/native/nativePipeline.ts
  packages/playback/src/lib/player/configuration.ts
  packages/playback/src/lib/player/player.ts
  packages/playback/src/lib/types/configuration.ts
  packages/playback/src/lib/types/player.ts
  packages/playback/src/lib/utils/eventEmitter.ts
  packages/playback/src/lib/utils/logger.ts
  packages/playback/src/lib/utils/retryWrapper.ts
  packages/playback/src/lib/utils/timeRanges.ts
  packages/playback/src/player.ts
  packages/playback/test/player.test.ts
  packages/playback/test/utils/timeRanges.test.ts
  packages/playback/tsconfig.json
  packages/playback/typedoc.json
Due: eslint --fix, eslint, prettier --write

chore: add clean install script
  package-lock.json
  package.json
  packages/videojs.dev/src/demo.ts
Due: eslint --fix, eslint, prettier --write

chore: migrate to vitest
  eslint.config.js
  jest.config.base.js
  package-lock.json
  package.json
  packages/dash-parser/jest.config.js
  packages/dash-parser/package.json
  packages/dash-parser/test/index.test.ts
  packages/dash-parser/vitest.config.ts
  packages/hls-parser/jest.config.js
  packages/hls-parser/package.json
  packages/hls-parser/test/index.test.ts
  packages/hls-parser/vitest.config.ts
  packages/playback/jest.config.js
  packages/playback/package.json
  packages/playback/test/index.test.ts
  packages/playback/test/player.test.ts
  packages/playback/test/utils/timeRanges.test.ts
  packages/playback/vitest.config.ts
  vitest.config.base.ts
Due: eslint --fix, eslint, prettier --write

chore: include only src folder for coverage
  vitest.config.base.ts
Due: eslint --fix, eslint, prettier --write

chore(videojs.dev): add vite setup for videojs.dev package
  eslint.config.js
  package-lock.json
  package.json
  packages/videojs.dev/README.md
  packages/videojs.dev/eslint.config.js
  packages/videojs.dev/index.html
  packages/videojs.dev/package.json
  packages/videojs.dev/public/vite.svg
  packages/videojs.dev/src/App.css
  packages/videojs.dev/src/App.tsx
  packages/videojs.dev/src/assets/react.svg
  packages/videojs.dev/src/demo.ts
  packages/videojs.dev/src/index.css
  packages/videojs.dev/src/main.tsx
  packages/videojs.dev/src/vite-env.d.ts
  packages/videojs.dev/tsconfig.json
  packages/videojs.dev/vite.config.js
  packages/videojs.dev/vite.config.ts
Due: eslint --fix, eslint, prettier --write

chore: add prepare deploy script
  .gitignore
  README.md
  cli/prepare-deploy.js
  package.json
Due: eslint --fix, eslint, prettier --write

chore: add prepare deploy (#19)
  .gitignore
  README.md
  cli/prepare-deploy.js
  eslint.config.js
  package-lock.json
  package.json
  packages/videojs.dev/README.md
  packages/videojs.dev/eslint.config.js
  packages/videojs.dev/index.html
  packages/videojs.dev/package.json
  packages/videojs.dev/public/vite.svg
  packages/videojs.dev/src/App.css
  packages/videojs.dev/src/App.tsx
  packages/videojs.dev/src/assets/react.svg
  packages/videojs.dev/src/demo.ts
  packages/videojs.dev/src/index.css
  packages/videojs.dev/src/main.tsx
  packages/videojs.dev/src/vite-env.d.ts
  packages/videojs.dev/tsconfig.json
  packages/videojs.dev/vite.config.js
  packages/videojs.dev/vite.config.ts
Due: eslint --fix, eslint, prettier --write

chore: remove comments
  .github/workflows/release.yml
Due: none

chore: add npm-run-all, use run-p for build:js and build:api-reference
  package-lock.json
  package.json
  packages/dash-parser/package.json
  packages/hls-parser/package.json
  packages/playback/package.json
Due: prettier --write

chore: add debugg api and version api
  packages/playback/index.html
  packages/playback/src/lib/consts/loggerLevel.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/logger.ts
  packages/playback/src/lib/utils/logger.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

chore: remove pipeline files
  packages/playback/src/dash-pipeline.ts
  packages/playback/src/hls-pipeline.ts
Due: eslint --fix, eslint, prettier --write

chore: add ts-mockito
  package-lock.json
  package.json
Due: prettier --write

chore: disable jsdoc require return
  eslint.config.js
Due: eslint --fix, eslint, prettier --write

chore: update index
  packages/playback/src/index.ts
Due: eslint --fix, eslint, prettier --write

chore: add confgiuration api
  packages/playback/index.html
  packages/playback/src/index.ts
  packages/playback/src/lib/configuration/configurationManager.ts
  packages/playback/src/lib/configuration/configurationNodes/playerConfigurationNode.ts
  packages/playback/src/lib/configuration/configurationNodes/playerNetworkConfigurationNode.ts
  packages/playback/src/lib/player/configuration.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/configuration.ts
  packages/playback/src/lib/types/logger.declarations.ts
  packages/playback/src/lib/types/store.declarations.ts
  packages/playback/src/lib/types/utility.declarations.ts
  packages/playback/src/lib/utils/logger.ts
  packages/playback/src/lib/utils/store.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

chore: add events api
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/events/base.ts
  packages/playback/src/lib/events/player.ts
  packages/playback/src/lib/player/consts/events.ts
  packages/playback/src/lib/player/events/playerEventTypeToEventMap.ts
  packages/playback/src/lib/player/events/playerEvents.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/eventEmitter.declarations.ts
  packages/playback/src/lib/types/eventTypeToEventMap.declarations.ts
  packages/playback/src/lib/types/network.ts
  packages/playback/src/lib/types/player.ts
  packages/playback/src/lib/utils/eventEmitter.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

chore: add errors api
  packages/playback/src/lib/consts/errors.ts
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/errors/basePlayerErrors.ts
  packages/playback/src/lib/errors/pipelineErrors.ts
  packages/playback/src/lib/events/basePlayerEvent.ts
  packages/playback/src/lib/events/playerEvents.ts
  packages/playback/src/lib/player/consts/errors.ts
  packages/playback/src/lib/player/errors/basePlayerError.ts
  packages/playback/src/lib/player/errors/networkPlayerErrors.ts
  packages/playback/src/lib/player/errors/pipelinePlayerErrors.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/eventTypeToEventMap.declarations.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

chore: add env probe support
  packages/playback/index.html
  packages/playback/src/lib/consts/codecs.ts
  packages/playback/src/lib/consts/container.ts
  packages/playback/src/lib/consts/keySystem.ts
  packages/playback/src/lib/consts/mimeType.ts
  packages/playback/src/lib/consts/streamingProtocol.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/envCapabilities.declarations.ts
  packages/playback/src/lib/utils/envCapabilities.ts
Due: eslint --fix, eslint, prettier --write

chore: add toString for timeRanges
  packages/playback/src/lib/utils/timeRanges.ts
Due: eslint --fix, eslint, prettier --write

chore: add playback and life cycle api placeholders
  packages/playback/src/lib/consts/playbackState.ts
  packages/playback/src/lib/pipelines/consts/events.ts
  packages/playback/src/lib/pipelines/events/pipelineEventTypeToEventMap.ts
  packages/playback/src/lib/player/player.ts
  packages/playback/src/lib/player_n.ts
  packages/playback/src/lib/types/pipeline.declarations.ts
  packages/playback/src/lib/types/playbackStats.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
  packages/playback/src/lib/types/tracks.declarations.ts
Due: eslint --fix, eslint, prettier --write

chore: rename player file
  packages/playback/src/index.ts
  packages/playback/src/lib/player.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

chore: remove legacy tests
  packages/playback/test/index.test.ts
Due: eslint --fix, eslint, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
