Repository videojs/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

chore: fix network-request tests
  packages/playback/src/lib/network/network-request.ts
  packages/playback/test/network/network-request.test.ts
Due: eslint --fix, eslint, prettier --write

chore: fix types
  packages/playback/test/utils/interceptors-storage.test.ts
Due: eslint --fix, eslint, prettier --write

chore: Adjust network manager api (#35)
  packages/playback/resources/mse-in-workers-architecture.md
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/events/player-events.ts
  packages/playback/src/lib/network/network-manager.ts
  packages/playback/src/lib/network/network-request.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/worker-thread/player-worker.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
  packages/playback/src/lib/service-locator.ts
  packages/playback/src/lib/types/mappers/event-type-to-event-map.declarations.ts
  packages/playback/src/lib/types/mappers/interceptor-type-to-interceptor-map.declarations.ts
  packages/playback/src/lib/types/network.declarations.ts
  packages/playback/src/lib/utils/event-emitter.ts
  packages/playback/src/lib/utils/fn.ts
  packages/playback/src/lib/utils/interceptors-storage.ts
  packages/playback/test/network/network-request.test.ts
  packages/playback/test/utils/event-emitter.test.ts
  packages/playback/test/utils/interceptors-storage.test.ts
Due: eslint --fix, eslint, prettier --write

chore: add mock for eme
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/eme/eme-manager.ts
  packages/playback/src/lib/events/eme-events.ts
  packages/playback/src/lib/events/player-events.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
  packages/playback/src/lib/types/mappers/event-type-to-event-map.declarations.ts
Due: eslint --fix, eslint, prettier --write

chore: add TODO
  packages/playback/src/lib/player/base/base-player.ts
Due: eslint --fix, eslint, prettier --write

chore: Adjust public api (#36)
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/eme/eme-manager.ts
  packages/playback/src/lib/events/eme-events.ts
  packages/playback/src/lib/events/player-events.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
  packages/playback/src/lib/types/mappers/event-type-to-event-map.declarations.ts
Due: eslint --fix, eslint, prettier --write

chore: bump nx to 20
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: bump nx to 20 (#37)
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

chore: update worker build
  packages/dash-parser/rollup.config.js
  packages/hls-parser/rollup.config.js
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/rollup.config.worker-bridge.js
  packages/playback/src/entry-points/core-worker-bridge.ts
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: Worker builds (#38)
  package-lock.json
  package.json
  packages/dash-parser/rollup.config.js
  packages/hls-parser/rollup.config.js
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/rollup.config.worker-bridge.js
  packages/playback/src/entry-points/core-worker-bridge.ts
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

feat: add mse player configuration
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/configuration/configurationNodes/player-configuration-node.ts
  packages/playback/src/lib/configuration/configurationNodes/player-mse-configuration-node.ts
  packages/playback/src/lib/types/configuration.declarations.ts
Due: eslint --fix, eslint, prettier --write

chore: use message-channels
  packages/playback/src/lib/player/worker-thread/messages/main-to-worker-messages.ts
  packages/playback/src/lib/player/worker-thread/messages/worker-to-main-messages.ts
  packages/playback/src/lib/player/worker-thread/player-worker.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
  packages/playback/src/lib/types/message-channels/main-to-worker-thread-message-channel.ts
  packages/playback/src/lib/types/message-channels/worker-to-main-thread-message-channel.ts
Due: eslint --fix, eslint, prettier --write

chore: update network-manager config
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
Due: eslint --fix, eslint, prettier --write

chore: add required buffer duration
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/types/configuration.declarations.ts
Due: eslint --fix, eslint, prettier --write

feat: mse-controller
  packages/playback/src/lib/consts/mse-buffer-type.ts
  packages/playback/src/lib/models/player-time-range.ts
  packages/playback/src/lib/mse/mse-controller-base.ts
  packages/playback/src/lib/mse/mse-controller-main-thread.ts
  packages/playback/src/lib/mse/mse-controller-worker-thread.ts
  packages/playback/src/lib/pipelines/mse/mse-manager.ts
  packages/playback/src/lib/player/worker-thread/consts/main-to-worker-message-type.ts
  packages/playback/src/lib/player/worker-thread/consts/worker-to-main-message-type.ts
  packages/playback/src/lib/player/worker-thread/messages/main-to-worker-messages.ts
  packages/playback/src/lib/player/worker-thread/messages/worker-to-main-messages.ts
  packages/playback/src/lib/player/worker-thread/player-worker.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
  packages/playback/src/lib/types/message-channels/worker-to-main-thread-message-channel.ts
  packages/playback/src/lib/types/mse-controller.ts
  packages/playback/src/lib/types/player-time-range.declarations.ts
  packages/playback/src/lib/utils/linked-list-queue.ts
  packages/playback/src/lib/utils/linked-list.ts
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore: fix build issues
  packages/playback/src/lib/player/worker-thread/player-worker.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
Due: eslint --fix, eslint, prettier --write

feat: MSE Controller (#39)
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/configuration/configurationNodes/player-configuration-node.ts
  packages/playback/src/lib/configuration/configurationNodes/player-mse-configuration-node.ts
  packages/playback/src/lib/consts/mse-buffer-type.ts
  packages/playback/src/lib/models/player-time-range.ts
  packages/playback/src/lib/mse/mse-controller-base.ts
  packages/playback/src/lib/mse/mse-controller-main-thread.ts
  packages/playback/src/lib/mse/mse-controller-worker-thread.ts
  packages/playback/src/lib/pipelines/mse/mse-manager.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/worker-thread/consts/main-to-worker-message-type.ts
  packages/playback/src/lib/player/worker-thread/consts/worker-to-main-message-type.ts
  packages/playback/src/lib/player/worker-thread/messages/main-to-worker-messages.ts
  packages/playback/src/lib/player/worker-thread/messages/worker-to-main-messages.ts
  packages/playback/src/lib/player/worker-thread/player-worker.ts
  packages/playback/src/lib/player/worker-thread/worker-bridge.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/message-channels/main-to-worker-thread-message-channel.ts
  packages/playback/src/lib/types/message-channels/worker-to-main-thread-message-channel.ts
  packages/playback/src/lib/types/mse-controller.ts
  packages/playback/src/lib/types/player-time-range.declarations.ts
  packages/playback/src/lib/utils/linked-list-queue.ts
  packages/playback/src/lib/utils/linked-list.ts
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore: add size-limit
  .github/workflows/limit-size.yml
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --write

chore: add size script
  package.json
Due: prettier --write

chore: update size-limit workflow
  .github/workflows/limit-size.yml
Due: none

chore: add size-limit (#40)
  .github/workflows/limit-size.yml
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --write

chore: update size-limit config
  .size-limit.json
Due: prettier --write

chore: size-limit
  .github/workflows/continuous.yml
  .github/workflows/limit-size.yml
  .gitignore
  .size-limit.json
  cli/prepare-size-limit.js
  package-lock.json
  package.json
  packages/dash-parser/.size-limit.json
  packages/dash-parser/bundlesize.json
  packages/dash-parser/package.json
  packages/dash-parser/src/lib/segments/segment-parser.ts
  packages/env-capabilities/.size-limit.json
  packages/env-capabilities/bundlesize.json
  packages/env-capabilities/package.json
  packages/hls-parser/.size-limit.json
  packages/hls-parser/bundlesize.json
  packages/hls-parser/package.json
  packages/playback/.size-limit.json
  packages/playback/bundlesize.json
  packages/playback/package.json
Due: eslint --fix, eslint, prettier --write

chore: use v1.8.0
  .github/workflows/limit-size.yml
Due: none

chore: update size-limit configs
  packages/dash-parser/.size-limit.json
  packages/env-capabilities/.size-limit.json
  packages/hls-parser/.size-limit.json
  packages/playback/.size-limit.json
Due: prettier --write

chore: use size-limit 600 for playback
  packages/playback/.size-limit.json
Due: prettier --write

chore: use 600ms for hls-parser
  packages/hls-parser/.size-limit.json
Due: prettier --write

chore: add size-limir:verfiy
  .github/workflows/limit-size.yml
Due: none

chore: use codecov for bundle analysis
  package-lock.json
  package.json
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

Revert "chore: use codecov for bundle analysis"
  package-lock.json
  package.json
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: use 800ms
  .github/workflows/limit-size.yml
  packages/dash-parser/.size-limit.json
  packages/env-capabilities/.size-limit.json
  packages/hls-parser/.size-limit.json
  packages/playback/.size-limit.json
Due: prettier --write

chore: use 1 s
  packages/playback/.size-limit.json
Due: prettier --write

chore: update size-limit config (#41)
  .github/workflows/continuous.yml
  .github/workflows/limit-size.yml
  .gitignore
  .size-limit.json
  cli/prepare-size-limit.js
  package-lock.json
  package.json
  packages/dash-parser/.size-limit.json
  packages/dash-parser/bundlesize.json
  packages/dash-parser/package.json
  packages/dash-parser/src/lib/segments/segment-parser.ts
  packages/env-capabilities/.size-limit.json
  packages/env-capabilities/bundlesize.json
  packages/env-capabilities/package.json
  packages/hls-parser/.size-limit.json
  packages/hls-parser/bundlesize.json
  packages/hls-parser/package.json
  packages/playback/.size-limit.json
  packages/playback/bundlesize.json
  packages/playback/package.json
Due: eslint --fix, eslint, prettier --write

chore: add initial walkthrough
  packages/playback/docs/walkthrough.md
Due: none

chore: fix limit-size workflow
  .github/workflows/limit-size.yml
Due: none

chore: fix limit-size workflow
  package.json
Due: prettier --write

chore: upd walkthrough
  packages/playback/docs/walkthrough.md
Due: none

chore: rename bundles
  packages/playback/demo/src/main.tsx
  packages/playback/docs/walkthrough.md
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/rollup.config.worker-bridge.js
  packages/playback/src/entry-points/api-reference.ts
  packages/playback/src/entry-points/core-main.ts
  packages/playback/src/entry-points/core-worker-bridge.ts
  packages/playback/src/entry-points/core-worker.ts
  packages/playback/src/entry-points/main-core.ts
  packages/playback/src/entry-points/main-with-worker-core.ts
  packages/playback/src/entry-points/worker-script.ts
  packages/playback/src/index.ts
  packages/playback/src/lib/player/main-thread-only/main-thread-only-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/main-thread-with-worker-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/main-to-worker-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/worker-to-main-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/main-to-worker-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/worker-to-main-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/test/player.test.ts
  packages/playback/test/utils/interceptors-storage.test.ts
  packages/playback/typedoc.json
Due: eslint --fix, eslint, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
