Repository videojs/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "eslint"],
  "*.{js,ts,json}": ["prettier --write"]
}

chore: add worker pipeline loader flow
  packages/playback/docs/walkthrough.md
  packages/playback/rollup.config.js
  packages/playback/src/entry-points/worker-script.ts
  packages/playback/src/lib/models/player-source.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/base/pipeline-loader-factory-storage.ts
  packages/playback/src/lib/player/main-thread-with-worker/main-thread-with-worker-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/main-to-worker-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/worker-to-main-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/main-to-worker-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/worker-to-main-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/src/lib/service-locator.ts
  packages/playback/src/lib/types/message-channels/main-to-worker-thread-message-channel.ts
  packages/playback/src/lib/types/message-channels/worker-to-main-thread-message-channel.ts
  packages/playback/src/lib/types/pipeline.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
Due: eslint --fix, eslint, prettier --write

chore: add initial walkthrough (#42)
  .github/workflows/limit-size.yml
  package.json
  packages/playback/demo/src/main.tsx
  packages/playback/docs/walkthrough.md
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/rollup.config.worker-bridge.js
  packages/playback/src/entry-points/api-reference.ts
  packages/playback/src/entry-points/core-main.ts
  packages/playback/src/entry-points/core-worker-bridge.ts
  packages/playback/src/entry-points/core-worker.ts
  packages/playback/src/entry-points/main-core.ts
  packages/playback/src/entry-points/main-with-worker-core.ts
  packages/playback/src/entry-points/worker-script.ts
  packages/playback/src/index.ts
  packages/playback/src/lib/models/player-source.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/base/pipeline-loader-factory-storage.ts
  packages/playback/src/lib/player/main-thread-only/main-thread-only-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/main-thread-with-worker-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/main-to-worker-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/message-types/worker-to-main-message-type.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/main-to-worker-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/messages/worker-to-main-thread-messages.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/src/lib/service-locator.ts
  packages/playback/src/lib/types/message-channels/main-to-worker-thread-message-channel.ts
  packages/playback/src/lib/types/message-channels/worker-to-main-thread-message-channel.ts
  packages/playback/src/lib/types/pipeline.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
  packages/playback/test/player.test.ts
  packages/playback/test/utils/interceptors-storage.test.ts
  packages/playback/typedoc.json
Due: eslint --fix, eslint, prettier --write

chore: replace rollup with vite for better dx and hmr for demo pages with player with worker
  eslint.config.js
  package-lock.json
  package.json
  packages/dash-parser/package.json
  packages/dash-parser/rollup.config.js
  packages/dash-parser/vite.demo.config.ts
  packages/dash-parser/vite.lib.dev.config.ts
  packages/dash-parser/vite.lib.prod.config.ts
  packages/env-capabilities/package.json
  packages/env-capabilities/rollup.config.js
  packages/env-capabilities/vite.demo.config.ts
  packages/env-capabilities/vite.lib.dev.config.ts
  packages/env-capabilities/vite.lib.prod.config.ts
  packages/hls-parser/package.json
  packages/hls-parser/rollup.config.js
  packages/hls-parser/vite.demo.config.ts
  packages/hls-parser/vite.lib.dev.config.ts
  packages/hls-parser/vite.lib.prod.config.ts
  packages/playback/.size-limit.json
  packages/playback/demo/src/App.tsx
  packages/playback/demo/src/main.tsx
  packages/playback/package.json
  packages/playback/rollup.config.js
  packages/playback/rollup.config.worker-bridge.js
  packages/playback/src/entry-points/main-only-core.ts
  packages/playback/src/entry-points/worker-script.ts
  packages/playback/src/lib/consts/interceptor-type.ts
  packages/playback/src/lib/pipeline-loaders/dash-pipeline-loader.ts
  packages/playback/src/lib/pipeline-loaders/hls-pipeline-loader.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/main-thread-with-worker-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/src/lib/types/mappers/interceptor-type-to-interceptor-map.declarations.ts
  packages/playback/test/utils/interceptors-storage.test.ts
  packages/playback/vite.demo.config.ts
  packages/playback/vite.lib.config.js
  packages/videojs.dev/src/main.tsx
  rollup.config.base.js
Due: eslint --fix, eslint, prettier --write

chore: add main-to-worker mssage tests
  packages/playback/test/player/main-thread-with-worker/messages/main-to-worker-thread-messages.test.ts
Due: eslint --fix, eslint, prettier --write

chore: update gitignore
  .gitignore
Due: none

chore: use node instead of npm script
  .github/workflows/limit-size.yml
Due: none

chore: add initial hls config
  nx.json
  package-lock.json
  packages/hls-parser/src/lib/parser/base-parser.ts
  packages/hls-parser/src/lib/types/parser-options.ts
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/configuration/configurationNodes/player-configuration-node.ts
  packages/playback/src/lib/configuration/configurationNodes/player-hls-configuration-node.ts
  packages/playback/src/lib/pipeline-loaders/hls-pipeline-loader.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/pipeline.declarations.ts
  packages/playback/src/lib/utils/store.ts
  packages/playback/test/player.test.ts
Due: eslint --fix, eslint, prettier --write

Update limit-size.yml
  .github/workflows/limit-size.yml
Due: none

chore: use only size-limit:json
  .github/workflows/limit-size.yml
  package.json
Due: prettier --write

chore: update limit-size.yml (#45)
  .github/workflows/limit-size.yml
  package.json
Due: prettier --write

Update prepare-size-limit.js
  cli/prepare-size-limit.js
Due: eslint --fix, eslint, prettier --write

chore: Update prepare-size-limit.js (#46)
  cli/prepare-size-limit.js
Due: eslint --fix, eslint, prettier --write

chore: add worker-to-main-thread-messages tests
  packages/playback/test/player/main-thread-with-worker/messages/worker-to-main-thread-messages.test.ts
Due: eslint --fix, eslint, prettier --write

chore: exclude entry-points from coverage
  packages/playback/vitest.config.ts
Due: eslint --fix, eslint, prettier --write

chore: add affected scripts
  package.json
Due: prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

chore: add initial worker-bridge test
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-bridge.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/test/player/main-thread-with-worker/worker/worker-bridge.test.ts
  packages/playback/vitest.config.ts
Due: eslint --fix, eslint, prettier --write

chore: Add initial HLS config (#44)
  nx.json
  package-lock.json
  package.json
  packages/hls-parser/src/lib/parser/base-parser.ts
  packages/hls-parser/src/lib/types/parser-options.ts
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/configuration/configurationNodes/player-configuration-node.ts
  packages/playback/src/lib/configuration/configurationNodes/player-hls-configuration-node.ts
  packages/playback/src/lib/pipeline-loaders/hls-pipeline-loader.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-bridge.ts
  packages/playback/src/lib/player/main-thread-with-worker/worker/worker-script.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/pipeline.declarations.ts
  packages/playback/src/lib/utils/store.ts
  packages/playback/test/player.test.ts
  packages/playback/test/player/main-thread-with-worker/messages/worker-to-main-thread-messages.test.ts
  packages/playback/test/player/main-thread-with-worker/worker/worker-bridge.test.ts
  packages/playback/vitest.config.ts
Due: eslint --fix, eslint, prettier --write

feat: eme controller
  packages/playback/src/lib/eme/eme-manager.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
Due: eslint --fix, eslint, prettier --write

fix: doc and api changes based on comments
  packages/playback/src/lib/consts/eme-robustness.ts
  packages/playback/src/lib/eme/eme-manager.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
Due: eslint --fix, eslint, prettier --write

fix: minor changes and configuration
  packages/playback/src/lib/configuration/configuration-defaults.ts
  packages/playback/src/lib/configuration/configurationNodes/player-configuration-node.ts
  packages/playback/src/lib/configuration/configurationNodes/player-eme-configuration-node.ts
  packages/playback/src/lib/consts/eme-robustness.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/configuration.declarations.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
Due: eslint --fix, eslint, prettier --write

feat: private event handler and start of eme logic
  packages/playback/src/lib/consts/events.ts
  packages/playback/src/lib/eme/eme-manager.ts
  packages/playback/src/lib/events/parse-events.ts
  packages/playback/src/lib/player/base/base-player.ts
  packages/playback/src/lib/types/eme-manager.declarations.ts
  packages/playback/src/lib/types/mappers/event-type-to-event-map.declarations.ts
  packages/playback/src/lib/types/source.declarations.ts
Due: eslint --fix, eslint, prettier --write

fix: small nit fix and warning about getting key system accessw
  packages/playback/src/lib/eme/eme-manager.ts
Due: eslint --fix, eslint, prettier --write

feat: add native pipeline
  packages/playback/src/lib/consts/text-tracks.ts
  packages/playback/src/lib/models/player-text-tracks.ts
  packages/playback/src/lib/models/player-thumbnail-tracks.ts
  packages/playback/src/lib/pipelines/native/native-pipeline.ts
  packages/playback/src/lib/types/text-track.declarations.ts
  packages/playback/src/lib/types/thumbnail-track.declarations.ts
Due: eslint --fix, eslint, prettier --write

fix: build
  packages/playback/src/lib/pipelines/native/native-pipeline.ts
Due: eslint --fix, eslint, prettier --write

feat: initial tests
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

fix: add browser to pre-push
  .husky/pre-push
Due: none

fix: husky syntax
  .husky/pre-push
Due: none

fix: thumbnail track add/remove
  packages/playback/src/lib/pipelines/native/native-pipeline.ts
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

fix: playback state
  packages/playback/src/lib/pipelines/native/native-pipeline.ts
Due: eslint --fix, eslint, prettier --write

fix: select thumbnail track
  packages/playback/src/lib/pipelines/native/native-pipeline.ts
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

test: native audio tracks
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

test: add state tests
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

fix: add mocks
  .husky/pre-push
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write

fix: test coverage
  packages/playback/test/lib/pipelines/native/native-pipeline.test.ts
Due: eslint --fix, eslint, prettier --write
